* {
    margin: 0;
    padding: 0;
}
body {
    background-color: black;
    display: flex;
    justify-content: center;
}
button {
   height: 40px;
}
.car {
    height: 300px;
    width: 700px;
    margin-top: 200px;
    background-image: url(./u.png);
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    margin-left: 0;
    margin-right: 0;
}
.headl {
    height: 50px;
    width: 10px;
    background-color: rgb(56, 56, 56);
    margin-left: -70px;
    margin-top: 345px;
}
.taill {
    height: 50px;
    width: 10px;
    background-color: rgb(56, 56, 56);
    margin-left: -200px;
    margin-top: 390px;
}

.blink {
    animation-name: s;
    animation-duration: 0.3s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
}

.blin {
    animation-name: bl;
    animation-duration: 0.2s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
}

@keyframes s {
    0% {
        background-color: rgb(56, 56, 56);
        box-shadow: 0 0 1px rgb(56, 56, 56);
    }
    100% {
        background-color: yellow;
        box-shadow: 0 0 5px yellow, 0 0 10px yellow, 0 0 15px yellow, 0 0 20px yellow;
    }
}

@keyframes bl {
    0% {
        background-color: rgb(56, 56, 56);
        box-shadow: 0 0 1px rgb(56, 56, 56);
    }
    100% {
        background-color: orangered;
        box-shadow: 0 0 5px orangered, 0 0 10px orangered, 0 0 15px orangered, 0 0 20px orangered;
    }
}
.front {
    background-color: yellow;
    box-shadow: 0 0 5px yellow, 0 0 10px yellow, 0 0 15px yellow, 0 0 20px yellow;
}

.back {
    background-color: red;
    box-shadow: 0 0 5px red, 0 0 10px red, 0 0 15px red, 0 0 20px red;
}